doctype !
html
    head
        meta(charset="utf-8")
        title
            block title
        link(rel="stylesheet", href="css/vendor.css")
        link(rel="stylesheet", href="css/app.css")

        <!--[if lte IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <![endif]-->

    body

        block content

        script(src="js/vendor.js")
        script(src="js/app.js")
